.nav-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 44px;
    padding-bottom: 40px;
}

.LogoBlock{
    display: flex;
    
}

.list-items {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 30px;
}

.list-items li {
    white-space: nowrap;
}

.Search {
    display: flex;
    position: relative;
    align-content: flex-end;
}

.SearchIcon{
    max-width: 21px;
    max-height: 21px;
    margin-left: 10px;
}

.Search::after {
    position: absolute;
    content: "";
    width: 150px;
    border-top: 1px solid #D9D9D9;
    bottom: 0px;
    left: 50px;
}

input{
    width: 150px;
    margin-left: 20px;
}

.Language-block{
    position: relative;
    display: flex;
    column-gap: 10px;
}

.Language-block  button{
    margin-top: 8px;
}

.Language-list.close{
    display: none;
    top: 20px;
}

.Language-list.open{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40px;
    position: absolute;
    background-color: #ffff;
    top: 20px;
    right: 10px;
}
