.card-blockHeader {
    min-width: 306px;
    max-width: 306px;
    min-height: 250px;
    max-width: 250px;
    border-radius: 20px;
    background-color: #5DB7DE;
    color: #ffff;
    padding: 30px 35px;
    text-align: left;
}

.span-header{
    margin-bottom: 118px;
    display: block;
}

.card-blockHeader:hover {
    transition: 0.5s;
    background-color: #57a2c3;
}

.card-blockMain {
    min-width: 416px;
    min-height: 223px;
    max-width: 416px;
    max-height: 223px;
    border-radius: 20px;
    padding: 30px 35px;
    background-color: #3D348B;
    color: #ffff;
}

.card-blockMain:hover {
    transition: 0.5s;
    background-color: #342c78;
}