*{
    font-family:PT Sans;
    font-size: 16px;
    font-weight: 500;
    
}

.wrap {
    max-width: 1920px;
    
    margin: 0 auto;
}



.container {
    max-width: 1356px;
    padding: 0 30px;
    margin: 0 auto;
}

a{
    transition: 0.2s;
    
}

a:hover{
    transition: 0.3s;
    color: #FF9D00;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #FFFF;
}

h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #333333;
}

h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #333333;
}

span {
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

strong {
    font-weight: 700;
    font-size: 19px;
    color: #ffff;
}

.StrBlack{
    font-weight: 700;
    font-size: 19px;
    color: #333333;
}

